table {
	outline: 1px solid;
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
	border: 2px solid rgb(100, 100, 100);
	letter-spacing: 1px;

}

tr :nth-child(2n+0) {
	background: red;
}

td,
th {
    border: 1px solid rgb(100, 100, 100);
    padding: 10px 10px;
}


td {
	outline: 1px solid;
	text-align: center;

}

tr {
	outline: 1px solid;
	
}

th {
	outline: 1px solid;
}



tbody{
	border: black;
}

th, td {
  padding: 20px;
}

