{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{ super() }}

<link rel="stylesheet" href="{{ url_for('static', filename='alternate.css') }}">
{% endblock %}

{% block page_content %}
<div class="page-header">
	<h1>JPI Database Test!</h1>

</div>

<div style="width: 50%;">
	{#{{ wtf.quick_form(form) }} #}
</div>

<div style="width: 50%;">
	{#{{ wtf.quick_form(view_all) }}#}
	<span id="data">{{ data }}</span>

</div>


<form id="dropdown" action="/view" method="POST">
	<label for="action">Options:</label>
	<select name="queries" action="/view" id="action">
		<option value="Clear">Clear</option>
    <option value="New student">New student</option>
    <option value="New class">New class</option>
    <option value="New teacher">New teacher</option>
    <option value="Delete student">Delete student</option>
    <option value="Delete class">Delete class</option>
    <option value="Delete teacher">Delete teacher</option>
    <option value="Add class for student">Add class for student</option>
    <option value="Remove class for student">Remove class for student</option>
    <option value="Add class for teacher">Add class for teacher</option>
    <option value="Remove class for teacher">Remove class for teacher</option>


		
	</select> 
	<button type="submit" id="btn" name="submit_button" value="query">Submit</button>
	<br>
	Name to search: 
		<input type="text" id="field2" name="searchfield" value="">
	<br>
	
		
</form>

<div id="table-container">
	<h4>
		<table id="mesa">
		
		</table>
	</h4>
</div>

<div id=option style="display: none;">{{option}}</div>


{% for query in queries %} 
<li>{{ query }}</li>
{% endfor %} 

<ul id="roster">
</ul>


<script src="{{ url_for('static', filename='view.js') }}"></script>

            
       
        


{% endblock %}