{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{ super() }}

<link rel="stylesheet" href="{{ url_for('static', filename='alternate.css') }}">
{% endblock %}

{% block page_content %}

{{ wtf.quick_form(form) }}

	{% if modify_form %}
		<form id="modify-form" action="/modify" method="POST">
			{{ wtf.quick_form(modify_form) }}
		</form>

		
	{% endif %}

	{% if entry %}
		{{ entry }} - Email - Phone - Address
	{% endif %}

	{% if course %}
		{{ course }}
	{% endif %}
	<p>
		{% if error %}
			{{ error }}
		{% endif %}
	</p>
	{% if entries %}
	<table style="outline: solid;">

		{% if not classes %}
			
			{% for entry in entries %}
				<tr><td>{{ entry }}</td></tr>
			{% endfor %}
		

		{% else %}
			
			{% for i in range(length) %}
				<tr>
					<td>{{ entries[i] }}</td>
					<td> {{ teachers[i] }}</td>
				</tr>
			{% endfor %}
		
		{% endif%}
	</table>
	{% endif %}

<div id="master-schedule">
	{% if max_day %}
		<table>
			<thead>
				<tr>
					
					<th>
						<span class="long short">Monday</span>
					</th>
					<th> 
						<span class="long short">Tuesday</span>     
					</th>
					<th>    
						<span class="long short">Wednesday</span>     
					</th>
					<th>    
						<span class="long short">Thursday</span>    
					</th>
					<th>   
						<span class="long short">Friday</span>    
					</th>
					<th> 
						<span class="long short">Saturday</span>  
					</th>
					<th>  
						<span class="long short">Sunday</span>  
					</th>
				</tr>
			</thead>
			{% for row in rows %}
				
				<tr class="class-name">
					{% for i in range(1, 8) %}
						<td>
						{% for key in rows[row].keys() %}
							{% if i == rows[row][key][0].daysOfWeek_id %}
								{{ rows[row][key][2] }}
							
								
							{% endif %}
						{% endfor %}
						</td>
					{% endfor %}
				</tr>
				<tr class="time">
					{% for i in range(1, 8) %}
						<td>
						{% for key in rows[row].keys() %}
							{% if i == rows[row][key][0].daysOfWeek_id %}
								{{ rows[row][key][0].start_hour }}:{% if rows[row][key][0].start_minute == 0 %}00-{% else %}30-{% endif %}{{ rows[row][key][0].end_hour }}:{% if rows[row][key][0].end_minute == 0 %}00{% else %}30
								{% endif %}
							
								
							{% endif %}
						{% endfor %}
						</td>
					{% endfor %}

				</tr>
				<tr class="room">
					{% for i in range(1, 8) %}
						<td>
						{% for key in rows[row].keys() %}
							{% if i == rows[row][key][0].daysOfWeek_id %}
								{{ rows[row][key][0].room }}
							
								
							{% endif %}
						{% endfor %}
						</td>
					{% endfor %}
				</tr>
				<tr class="teacher">
					{% for i in range(1, 8) %}
						<td>
						{% for key in rows[row].keys() %}
							{% if i == rows[row][key][0].daysOfWeek_id %}
								{{ rows[row][key][1] }}
							
								
							{% endif %}
						{% endfor %}
						</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</table>
	{% endif %}

</div>


{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='jpi.js') }}"></script>


{% endblock %}