<html>

<head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" media="all" type="text/css" href="../static/master.css">

</head>
<body>
<div class="data" display="none">
  {{ data }}
</div>
<!-- class="day active" highlights the day -->
<table>
  <thead>
    <tr>
      <th>Monday</th>
      <th>
        <span class="long">Harvard</span>
       
      </th>
      <th>
        
        <span class="long">Columbia</span>
        
      </th>
      <th>
        
        <span class="long">Princeton</span>
        
      </th>
      <th>
        
        <span class="long">Yale</span>
        
      </th>

      <th>
        
        <span class="long">Dartmouth</span>
        
      </th>
      <th>
        
        <span class="long">Stanford</span>
        
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="class-name">
      <td class="hour" rowspan="4"><span>9:00</span></td>
      <td>Class: Name</td>
      <td>Biology</td>
      <td>Math</td>
      <td></td>
      <td></td>
      <td></td>
  
    </tr>
    <tr class="time">
      <td>Time</td>
      <td>9:00-10:00</td>
      <td>9:00-9:45</td>
      <td></td>
      <td></td>
      <td></td>
   
    </tr>
    <tr class="private">
      <td>if priv: student</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    
    </tr>
    <tr class="teacher">
      <td>Teacher: name</td>
      <td>Mr. Garbanzo</td>
      <td>Mr. Potato</td>
      <td></td>
      <td></td>
      <td></td>

    </tr>
    <tr class="class-name">
      <td class="hour" rowspan="4"><span>10:00</span></td>
      <td>Speech and Debate</td>
      <td>L & L</td>
      <td>Grammar</td>
      <td></td>
      <td></td>
      <td></td>
   
    </tr>
    <tr class="time">
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    
    </tr>
    <tr class="private">
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    
    </tr>
    <tr class="teacher">
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
 
    </tr>
    
    <tr>
      <td class="hour" rowspan="4"><span>11:00</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
     
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>

    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
 
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
   
    </tr>
    <tr>
      <td class="hour" rowspan="4"><span>12:00</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
  
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
  
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>

    </tr>
    <tr>
      <td class="hour" rowspan="4"><span>13:00</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>

    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
  
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
   
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
   
    </tr>
    <tr>
      <td class="hour" rowspan="4"><span>14:00</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>

    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
   
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
   
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
  
    </tr>
    <tr>
      <td class="hour" rowspan="4"><span>15:00</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
  
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
   
    </tr>
    <tr>
      <td class="hour" rowspan="4"><span>16:00</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>

    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
 
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
     
    </tr>
    <tr>
      <td class="hour" rowspan="4"><span>17:00</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
   
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
   
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
     
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
  
    </tr>
    <tr>
      <td class="hour" rowspan="4"><span>18:00</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
   
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
   
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      
    </tr>
    <tr>
      <td class="hour" rowspan="4"><span>19:00</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
     
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      
    </tr>
  </tbody>
</table>
<script>

  //let className = document.getElementsByClassName("class-name")[0];
  
  //console.log(className.children[1].textContent);
  //className.children[4].textContent = "classNameing";
  //className.children[5].textContent = "classNameing again";
  // 1.Harvard 2. Columbia 3. Princeton 4. Yale 5.Dartmouth 6. Stanford
  //console.log(className.children);

  function convertRoomToIndex(room) {
    if (room === "Harvard") {room=1;}
    if (room === "Columbia") {room=2;}
    if (room === "Princeton") {room=3;}
    if (room === "Yale") {room=4;}
    if (room === "Dartmouth") {room=5;}
    if (room === "Stanford") {room=6;}
    return room;
  }

  function convertHourToIndex(hour) {
    for (i = 9; i < 20; i++){
      if (hour === i) {hour -= 9;}
    }
    return hour
  }
  
  //time private teacher class-name
  function checkText(rowType, room, hour) {
    room = convertRoomToIndex(room);
    hour = convertHourToIndex(hour);
    console.log(room)
    let row = document.getElementsByClassName(rowType)[hour]
    if (rowType != "class-name") {room -= 1}
    let content = row.children[room].textContent;
    console.log('********');
    console.log(content);
    console.log(typeof(content))
  }

  function setText(rowType, name, room, hour) {
    room = convertRoomToIndex(room);
    hour = convertHourToIndex(hour);
    console.log(room)
    let row = document.getElementsByClassName(rowType)[hour]
    if (rowType != "class-name") {room -= 1}
    row.children[room].textContent = name;
  }

  setText("class-name", "Donkey Kong", "Dartmouth", 10);
  checkText("time", "Yale", 9)
  setText("class-name", "Bah bAh", "Dartmouth", 10);


</script>

</body>

</html>