<html>

<head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="../static/alternate.css">


</head>
<body>

<!-- class="day active" highlights the day -->
<table>
  <thead>
    <tr>
      <th><span class="long">Student name</span></th>
      <th>
        <span class="long">Monday</span>
      </th>
      <th> 
        <span class="long">Tuesday</span>     
      </th>
      <th>    
        <span class="long">Wednesday</span>     
      </th>
      <th>    
        <span class="long">Thursday</span>    
      </th>
      <th>   
        <span class="long">Friday</span>    
      </th>
      <th> 
        <span class="long">Saturday</span>  
      </th>
      <th>  
        <span class="long">Sunday</span>  
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="everyThird">
      <td class="course" rowspan="3"><span>Math</span></td>
      <td>9:00-10:00</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
   
    <tr >
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="teacher">
      <td>Mr. Panda</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td class="hour" rowspan="3"><span>Bio</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
     
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    
    <tr>
      <td class="hour" rowspan="3"><span>Gym</span></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

   
  </tbody>
</table>

</body>

</html>